#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*secrets.tfvars

.DS_Store

files/cw_event.json

files/template.py

files/test1 copy.txt

files/test1.txt

files/test2.txt

files/create_ec2.json

files/volumes.json

files/access.json
